# Media Services
HOMEPAGE_VAR_TAUTULLI_MUSIC_API=
HOMEPAGE_VAR_IMMICH_KEY=
HOMEPAGE_VAR_QBITTORRENT_USERNAME=
HOMEPAGE_VAR_QBITTORRENT_PWD=
HOMEPAGE_VAR_SABNZBD_API=

# Homelab Management
HOMEPAGE_VAR_BESZEL_USERNAME=
HOMEPAGE_VAR_NETALERTX_API=
HOMEPAGE_VAR_SYNOLOGY_USERNAME=
HOMEPAGE_VAR_SYNOLOGY_PWD=
HOMEPAGE_VAR_AUTHENTIK_API=
HOMEPAGE_VAR_KOMODO_KEY=
HOMEPAGE_VAR_KOMODO_SECRET=
HOMEPAGE_VAR_CLOUDFLARE_ACCOUNT_ID=
HOMEPAGE_VAR_CLOUDFLARE_TUNNEL_ID=
HOMEPAGE_VAR_CLOUDFLARE_TOKEN_ID=
HOMEPAGE_VAR_KARAKEEP_TOKEN=
HOMEPAGE_VAR_WALLOS_KEY=

# Arr Services
HOMEPAGE_VAR_PROWLARR_API=
HOMEPAGE_VAR_BAZARR_API=
HOMEPAGE_VAR_ANIMESONARR_API=
HOMEPAGE_VAR_OVERSEERR_API=

# Calendar
HOMEPAGE_VAR_ANIMECALENDAR_URL=
